@model List<Sliders>
@{
    int counter = 0;
}

<div class="container-fluid">
    <div class="row justify-content-between align-items-center">
        <h1>Sliders</h1>
        <a class="btn btn-primary" asp-controller="Slider" asp-action="create">Create</a>
    </div>
    <table class="table contact-form">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">RedirectText</th>
                <th scope="col">RedirectUrl</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sliders in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@sliders.Title</td>
                    <td>@sliders.Description</td>
                    <td>@sliders.RedirectText</td>
                    <td>@sliders.RedirectUrl</td>
                    <td style="max-width:200px"><img src="~/uploads/sliders/@sliders.ImageUrl" style="max-width:30%" /></td>
                    <td>
                        <a asp-controller="Slider" asp-action="update" asp-route-id="@sliders.Id" class="btn btn-success">Update</a>
                        <a asp-controller="Slider" asp-action="delete" asp-route-id="@sliders.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
